{% include 'header.html' %}

meus compromissos
<a href="logout"> Sair </a>
<a href="novocompromisso/">Novo compromisso</a>
{% for compromisso in compromissos  %}
    <ul>
        <li>
            {{compromisso.usuario}} - {{compromisso.titulo}} - {{compromisso.get_data_compromisso}}
            <a href="">Detalhes </a><a href="novocompromisso/?id={{ compromisso.id }}"> Editar </a><a href="deletar/{{ compromisso.id }}/"> Excluir </a> 
        </li>
    </ul>
    
{% endfor %}
{% include 'footer.html' %}