Novo compromisso

{% block content %}
    <form action="cadastrar/" method="POST"> {% csrf_token %}
        <label></label>
        <br>
        <input type="text" name="assunto" size="15">
        <label></label>
        <br>
        <input type="datetime-local" name="data_compromisso" size="15">
        <label></label>
        <br>
        <textarea name="descricao" cols="15" rows="7"></textarea>
        <button type="submit"> Salvar </button>
        <a href="/meuscompromissos">
            <button type="cancelar">Cancelar</button>
        </a>
    </form>
{% endblock content %}